
#navbar{
    background-color: #1C1C1C !important; 
}

.booking-list-wrapper{ 
   
    margin:200px auto;
    min-width: 400px;
    width: 400px;
    border: 8px double #a1a18d;
    padding: 20px 40px 20px 40px;
    min-height: 580px;
    height: 580px;
    
   
}

.booking-list{
    min-height: 480px;
    height: 480px;
    overflow-y:scroll;
    overflow-x:hidden;
    width: 100%;
}

.content{
    padding: 6% 10% ;
}

.booking-list::-webkit-scrollbar{
    display: none;
}


.bookings-not-on-list-btn{
    color:grey;
    margin-top: 20px;
}

.bookings-not-on-list-div{
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width:400px;
    border: 1px solid grey;
    border-radius: 16px;
    background-color: #1C1C1C;
    color: white;
    z-index: 1000;
}

.close-arrow{
    float:left;
    font-size:30px;
    height:30px;
}

.booking-info-card{
    height: 100px;
    padding: 10px 20px;
    width: 100%;
}


.form-control{
    margin: 10px 0px;

}
.form{
    margin-top: 30px;
    }

.save-btn{
    bottom:20px; 
    position:absolute;
}
