
.form-control {
    background-color: white;
    height: 48px;
    text-align: start;
    font-size: 16px;
    color: black;
    font-weight: normal;
    border-radius: 8px;
    padding: 10px 30px;
    border: 1px solid #ccc; /* Softer border */
    transition: all 0.3s ease-in-out;
    width: 100%; /* Full width */
}

.form-control[readonly] {
    background-color: #e9ecef;
    color: #6c757d;
}
.form-control:focus {
    border-color: #6c757d; /* Highlight border */
    box-shadow: 0 0 5px rgba(108, 117, 125, 0.3);
    outline: none;
}

.form-wrapper {
    background-color: #f4f4f4; /* Softer background */
    border-radius: 12px; /* Slightly rounded */
    padding: 30px 40px;
    float: left;
    margin: 0px auto; /* Centered */
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
}


.form-field-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px; /* Space between fields */
}

.icon-inside-input{
    font-size:23px;
    padding: 0px 4px;
    position: absolute;
}

.create-booking-content{
margin:14% 4%;

}




.choose-table-modal{
    width: 50%;
    z-index: 1000;
    background-color: #d9d9d9;
    position: fixed;
    height: 50%;
    right: 0;
    margin: auto;
    display: block;
    left: 45%;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    min-width: fit-content;
}



.table-element-active {
    outline: 2px solid #8b0000;
    background-color: #f5c6cb;
    color: #8b0000;
}


.open-modal-btn {
    display: block;
    width: 100%;
    max-width: 200px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;

    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}


.hidden {
    display: none;
}

.show-modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.show-close {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}



/* Responsive fixes */
@media screen and (max-width: 1000px) {
    .form-wrapper {
        margin-block:20px;
        position: absolute;
        width: 90%;
        padding: 20px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .choose-table-modal {
        width: 90%;
        height: auto;
        min-height: 50%;
    }
}
