.form-control{
background-color: white;
height: 44px ;
text-align: start;
font-size:16px;
color:black;
font-weight: normal;
border-radius: 0px;
padding: 0px 30px;
box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.round-top{
    border-radius: 8px 8px 0px 0px;
}

.form-control[readonly]{
    background-color: white;
}


.form-wrapper{
background-color:#C0C0C0;
border: 1px solid rgb(43, 43, 43);
border-radius: 8px;
padding: 20px 50px;
float: left;
margin: 10px 60px;
width:40%;
min-width: 400px;
max-width: 400px;
position: relative;
}

.form-field-wrapper{ 
    display:flex;
    align-items:center;
}

.icon-inside-input{
    font-size:23px;
    padding: 0px 4px;
    position: absolute;
}

.create-booking-content{
margin:100px;

}

.choose-table-modal{
width:50%;
z-index:1000;
background-color:#C0C0C0;
position: fixed;
height: 50%;
right: 0;
float:right;
margin: 0px auto;
display:block;
left: 45%; 
}



.table-element-active{
outline:2px solid #390003;
}

