
.menu{ 
    display:flex;
    justify-content:center; 
    flex-wrap: wrap; 
}

.menu-category-list{ 
    display:flex;
    flex-direction:row;
    gap:34px;
    justify-content:center; 
    margin-top:20px;
    flex-wrap: wrap; 
}

.menu-category-item{
    width:140px; 
    height:135px; 
    text-align:center; 
    position:relative;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.menu-category-item:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.menu-category-item-active{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.menu-category-item-active:hover{
    -webkit-transform: scale(1);
	transform: scale(1);
}

.menu-category-item-img{
    height:135px; 
    width:140px;
    object-fit:cover;
}

.menu-category-item-name{
    color:white;
    margin-top:-44px;
    font-size:18px;
    font-weight:600;
}

/* .menu-item-list{
     margin-top:60px; 
} */

.menu-item-list-item{
    align-items: center;
    width: 508px;
    max-width: 508px;
    height:90px; 
    display:flex;
    box-shadow:0px 0px 10px 0px #3333331f;
}

.menu-item-list-item-img{
    height:90px; 
    max-width:105px;
    min-width: 105px;
    object-fit:cover;
}

.menu-item-list-item-content{
    display:block;
    padding-left:20px;
    padding-block: 2px;
}

.menu-item-list-item-name {
    font-size: 16px;
    line-height: 1.4;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2; /* Limits to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-item-list-item-price{
    color:#e9978b;
}

.menu-item-list-read-more {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
    font-size: 16px;
    text-transform: uppercase;
    align-items: center;
    flex-shrink: 0; /* Prevents it from shrinking when space is tight */
}


.read-more-arrow{
    font-size:20px; 
    color:#e9978b;
    padding-left:7;

}

.modal{
    display:none;
    z-index: 999999;
    color:black;
    background-color: white;
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 8px;
}


.modal-item-content{
    justify-content:center; 
    text-align:center; 
    box-shadow:0 6px 5px 0 rgba(204,204,204,.24); 
    padding:10px 0px;
}

.modal-item-description{
    justify-content:center; 
    text-align:center; 
    padding:20px 50px;
}


.modal-img{
    width:100%;
    height:320px; 
    object-fit:cover;
    border-radius:8px;
}

.modal-close-icon{
    position:absolute;
    font-size:20px;
    color:white;
    padding:2px;
}



@media screen and (max-width: 768px) {
    .menu-item-list-item{
        width: 90%;
    }

    .menu-item-list-item-name{
        font-size:14px;
    }

    .menu-item-list-read-more{
        font-size:12px;
        padding-right: 10px;
    }

    .modal{
        width: 80%;
    }

    
}