.menu{ 
    display:flex;
    justify-content:center; 
    flex-wrap: wrap; 
}

.menu-category-list{ 
    display:flex;
    flex-direction:row;
    gap:34px;
    justify-content:center; 
    margin-top:20px;
    flex-wrap: wrap; 
}

.menu-category-item{
    width:140px; 
    height:135px; 
    text-align:center; 
    position:relative;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.menu-category-item:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.menu-category-item-active{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.menu-category-item-active:hover{
    -webkit-transform: scale(1);
	transform: scale(1);
}

.menu-category-item-img{
    height:135px; 
    width:140px;
    object-fit:cover;
}

.menu-category-item-name{
    color:white;
    margin-top:-44px;
    font-size:18px;
    font-weight:600;
}

.menu-item-list{
    margin-top:60px;
    padding-bottom: 100px;
}

.menu-item-list-item{
    align-items: center;
    width: 508px;
    height:90px; 
    display:flex;
    box-shadow:0px 0px 10px 0px #3333331f;
}

.menu-item-list-item-img{
    height:90px; 
    width:105px; 
    object-fit:cover;
}

.menu-item-list-item-content{
    display:block;
    padding-left:20px;
}

.menu-item-list-item-name{
    width:100%;
    
}

.menu-item-list-item-price{
    color:#e9978b;
}

.menu-item-list-read-more{
margin-left:auto; 
padding-right:20px;
font-size: 16px;
text-transform: uppercase;
align-items: center;
display:flex;
}

.read-more-arrow{
    font-size:20px; 
    color:#e9978b;
    padding-left:7;

}

.modal{
    display:none;
    z-index: 9999;
    color:black;
    background-color: white;
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 8px;
}
